.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.book_section .book_container .book-box .details-box a:hover {
  background-color: transparent;
  color: #0a2050;
}

.book_section {
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #0a2050), color-stop(60%, transparent));
  // background: linear-gradient(to bottom, #0a2050 60%, transparent 60%);
  background-image: url("https://images.unsplash.com/photo-1516801197880-8abcfc4e3516?q=80&w=3132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.book_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.book_section .book_container {
  margin: auto;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
}

.book_section .book_container .book-box {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px 20px;
  gap: 15px;
}

.book_section .book_container .book-box img {
  object-fit: cover;
  width: 220px;
  height: 330px;
}

.book_section .book_container .book-box .details-box {
  margin-top: 15px;

}

.book_section .book_container .book-box .details-box h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}

.book_section .book_container .book-box .details-box h6 {
  /* color: #e7d619; */
  color: #b34a6b;

}

// .book_section .book_container .book-box .details-box h3 span {
//   color: #0a2050;
// }

.book_section .book_container .book-box .details-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #0a2050;
  /* color: #e7d619; */
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0a2050;
  border-radius: 0;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {

  .book_section .book_container {
    display: block;
    margin: auto;
  }

  .book_section .book_container .book-box {
    gap: 0;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid #b34a6b;
  }
}


@media screen and (max-width: 475px) {
  .book_section .book_container .book-box .details-box a {
    font-size: 4vi;
    padding: 4px 10px;
    display: block;
  }
}