// .animal_section1 {
//     //background-image: url(../../../static/images/book-shelf-1.jpg);
//     background-size: cover;
//     color: #000000;
//     text-align: center;
//   }

.detail-box a {
    display: inline-block;
    padding: 8px 45px;
    background-color: #0a2050;
    /* color: #e7d619; */
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #0a2050;
    border-radius: 0;
    margin-top: 15px;
  }

  .detail-box a:hover {
    color: #000000;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    //list-style: none;
    padding: 0;
    margin-right: 150px;
  }
  
  .pagination > li {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    border: 0.9px solid;
  }
  
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: none;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 150;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2c689c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: -1px;
  }

  .pagination > li > a:hover{
    color: #ffffff;
    background-color: #2c689c;
  }

  .book-box{
    margin-top: 150px;
  }

  .book-box-button{
    margin-right: 10px;
  }

  @media screen and (max-width: 650px) {
    .book-box {
      margin-top: 50px;
    }
    
    .book-box-button {
      margin-right: 5px;
    }
    
    .pagination {
      margin-right: 5px;
    }
  }

  .loader {
    width: 200px;
    height: 140px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius:8px;
    perspective: 1000px;
  }

  .loader:before{
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius:8px;
    background: #f5f5f5  no-repeat;
    background-size: 60px 10px;
    background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0);
    
    background-position: 15px 30px , 15px 60px , 15px 90px, 
              105px 30px , 105px 60px , 105px 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
  .loader:after {
    content: '';
      position: absolute;
      width: calc(50% - 10px);
      right: 10px;
      top: 10px;
      bottom: 10px;
      border-radius: 8px;
      background: #fff no-repeat;
      background-size: 60px 10px;
      background-image: linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0);
      background-position: 50% 30px ,50% 60px , 50%  90px;
      transform: rotateY(0deg );
      transform-origin: left center;
    animation: paging 1s linear infinite;
  }


  @keyframes paging {
    to {
      transform: rotateY( -180deg );
    }
  }

  .search-bar-textarea{
    width: 30%;
    height: 40px;
  border: solid;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: #ebebeb;
  outline: none;
  color: #101010;
  }

  .search-bar-button{
    display: inline-block;
    padding: 7px 42px;
    background-color: #e55593;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #e55593;
    border-radius: 0;
    color: #fff;
    margin-top: 35px;
  }

  .search-bar-button:hover{
    background-color: transparent;
  color: #e55593;
  }
  