// .animal_section1 {
//     //background-image: url(../../../static/images/book-shelf-1.jpg);
//     background-size: cover;
//     color: #000000;
//     text-align: center;
//   }

.detail-box a {
    display: inline-block;
    padding: 8px 45px;
    background-color: #0a2050;
    /* color: #e7d619; */
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #0a2050;
    border-radius: 0;
    margin-top: 15px;
  }

  .detail-box a:hover {
    color: #000000;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    //list-style: none;
    padding: 0;
    margin-right: 150px;
  }
  
  .pagination > li {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    border: 0.9px solid;
  }
  
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: none;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 150;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2c689c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: -1px;
  }

  .pagination > li > a:hover{
    color: #ffffff;
    background-color: #2c689c;
  }

  .book-box{
    margin-top: 150px;
  }

  .book-box-button{
    margin-right: 10px;
  }

  @media screen and (max-width: 650px) {
    .book-box{
      margin-top: 50px;
    }
    .book-box-button{
      margin-right: 5px;
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      //list-style: none;
      padding: 0;
      margin-right: 5px;
    }
  }
  