.back {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:
    linear-gradient(rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)),
    url(https://www.pixelstalk.net/wp-content/uploads/2016/08/HD-Library-Wallpaper.jpg);

}

.profile-card {
    /* margin-top: 300px; */
    width: 70%;
    max-width: 1060px;
    margin: auto;
    background-color: ivory;
    border-radius: 12px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9), 0 0 28px 0 rgba(0, 0, 0, 0.9);
    overflow: hidden;
    padding-bottom: 30px;
}

.profile-header {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6), 0 0 16px 0 rgba(0, 0, 0, 0.6);
    padding-left: 30px;
    display: flex;
    color: #fff;
    font-size: 10px;
    background-color: #546e7a;
    height: 50px;
    align-items: center;
}

.fa-circle-user {
    font-size: 28px;
}

.card-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.users-breadcrumbs {
    height: 50px;
    color: #888888;
    font-size: 13px;
    padding-left: 30px;
}

.main-profile-area {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    height: 200px;
    width: 25%;
    padding-right: 5%;
}

.choose-img{
    margin-top: 20px;
}

.user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.wrapper {
    width: 75%;
}

.user-info {
    display: flex;
    width: 100%;
}

.profile-names {
    margin-top: 0;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
}

.label {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 0;
}

.profile-data {
    margin-top: 0;
    font-size: 15px;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items:flex-end; 
    width: 100%;
    padding-right: 50px;
    margin-right: auto;   
}

.edit-user {
    width: 150px;
    height: 35px;
    background-color: rgb(0, 184, 55);
    color: white;
    border: 0 solid rgb(0, 184, 55);
    border-radius: 4px;
    padding: 4px 12px;
}

.delete-user {
    width: 150px;
    height: 35px;
    background-color: rgb(184, 40, 0);
    color: white;
    border: 0 solid rgb(184, 40, 0);
    border-radius: 4px;
    padding: 4px 12px;
}

.profile-tabs {
    
    margin-right: 20px;
    padding: 18px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px
}

.book-card {
    width: 160px;
    height: 230px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404a4e;
    font-size: 14px;
    transition: 0.4s;
}

.fa-solid {
    margin-right: 6px;
}

@media screen and (max-width: 650px) {
    .profile-card {
        width: 90%;

    }

    .main-profile-area {
        display: block;
    }

    .img-container {
        width: 100%;
        justify-content: center;
    }

    .wrapper {
        margin: auto;
        padding: 24px;
    }
}

/* FLIPPING THE CARDS */

.flip-card {
    background-color: transparent;
    width: 160px;
    height: 230px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 160px;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.book-cover-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 160px;
    height: 230px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
}

.flip-card-front {
    background-color: #614819;
    opacity: 0.8;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.flip-card-back {
    background-color: #f0e6d2;
    transform: rotateY(180deg);
    border-radius: 8px;
}

.flip-card-back h3 {
    font-size: 16px;
}

.flip-card-back .cat {
    font-size: 13px;
    color: #505050;
}

.view-book {
    background-color: rgb(0, 74, 158);
    color: #fff;
    border: 1px solid rgb(0, 74, 158);
    padding: 4px 8px;
    position: fixed;
    border-radius: 4px;
    bottom: 24px;
    left: 30px;
    width: 100px;
}

.author-flip-card-back {
    color: #505050;
    font-size: 14px;
}